# Hide environment file
trying.env
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs (if any)
venv/
.venv/

# SQLite DB
finance.db
*.db

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
